@import url("../node_modules/normalize.css/normalize.css");

@font-face {
    font-family: 'Lena';
    src: url('fonts/Lena.woff2') format('woff2'),
        url('fonts/Lena.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


body {
    font-family: 'Lena';
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.t-big {
    font-size: 36px;
    line-height: 24px;
}

.t-normal {
    font-size: 18px;
    line-height: 14px;
}

.t-small {
    font-size: 14px;
    line-height: 15px;
}

@media (min-width: 640px)and (max-width: 1120px) {
    .t-big {font-size: 24px;line-height: 18px;}
    .t-normal {font-size: 16px;}
    .t-small {font-size: 12px;}
}

@media (max-width: 640px) {
    .t-big {font-size: 18px;line-height: 16px;}
    .t-normal {font-size: 14px;}
    .t-small {font-size: 10px;}
}

/* start block Promo */
.full-screen {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.full-screen__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 48px;
    line-height: 45px;
    letter-spacing: 8px;
}

.full-screen__wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

.promo {
    position: relative;
    z-index: 4;
    color: white;
}

.promo__header {
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__header img {
    width: 55px;
    height: 55px;
}

.promo__block {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.promo__info {
    margin: auto;
}

.promo__info ul {
    line-height: 55px;
    font-weight: 600;
}

.promo__info li {
    line-height: 35px;
    margin-left: 55px;
    font-weight: 400;
}

.button {
    border: 2px solid rgba(51, 68, 51, 0.925);
    background-color: rgba(112, 116, 112, 0.651);
    border-radius: 30px;
    padding: 18px 20px 10px;
}
.button--promo {
    margin-left: 65px;
}

.button a {
    color: black;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(134, 177, 34);
}

@media (max-width: 1120px) {
    .promo__block {flex-direction: column;justify-content: center;}
    .promo__photo {text-align: center;}
    .promo__photo img {width: 40%;height: 45%;}
    .button {padding: 30px 50px 30px;}
  }

@media (max-width: 640px) {
    .promo__photo img {width: 45%;height: 45%;}
    .promo__info li {margin-left: 10px;}
    .button {padding: 15px 30px 15px;}
    .promo__header {height: 80px;}
  }
/* end block Promo */


/* start block constituent */
.constituent {        
    display: flex;
    justify-content: space-between;
    height: 100vh;
    padding: 0 200px;
    background-color:black;
    background-image:
    radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
    radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
    radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
    radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
    background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
    background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
    color: white;
}

.constituent__left {        
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.constituent__center {        
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

.constituent__right {        
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 100%;
}

.constituent__product img{
    width: 200px;
    height: 300px;
}

.constituent__product {
    margin-bottom: 40px;
}

.constituent__info {
    max-width: 300px;
}

.constituent__element {
    width: 150px;
    height: 150px;
    border: 2px solid rgba(26, 27, 26, 0.753);
    border-radius: 50%;
    overflow: hidden;
    background-color: rgba(255, 251, 251, 0.815);
}

.constituent__element img{
    width: 150px;
    height: 150px;
    object-fit: cover;
}

@media (max-width: 1120px) {
    .constituent {flex-direction: column;}
    .constituent__left {flex-direction: row;}
    .constituent__center {order: -1;margin-bottom: 10px;}
    .constituent__right {flex-direction: row;}
    .constituent__product {margin-bottom: 10px;text-align: center;}
    .constituent__product img {
        width: 130px;
        height: 170px;
    }
    .button--constituent {width: 200px;margin: 0 auto;}
    .constituent__element {width: 75px;height: 75px;}
    .constituent__element img {width: 75px;height: 75px;}
    .constituent h3 {font-size: 18px;}
    .constituent {padding: 10px 40px;}
}

@media (max-width: 640px) {
    .constituent h3 {font-size: 14px;}
    .constituent__product img {
        width: 60px;
        height: 100px;
    }
    .constituent h3 {font-size: 14px;margin-top: 2px;margin-bottom: 2px;}
}
/* end block constituent */

/* start block reviews */
.reviews {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    color: white;
}

.slider {
    position: relative;

}

.slider .slider__item {
    opacity: 0.4;
    transition: 0.2s;
}

.slider .slider__item.slick-center {
    opacity: 1;
}

.reviews__wrapper {
    padding-left: 80px;
}

.slider .slick-arrow {
    position: absolute;
    cursor: pointer;
    font-size: 25px;
    color: #000000;
    background-color: rgba(95, 93, 93, 0.753);
    padding: 3px 10px;
    left: -70px;
    padding-top: 11px;
    border-radius: 10px;
}
  
.slider .slick-prev {
    top: 50px;
    transform: rotate(270deg);
}

.slider .slick-next {
    bottom: 50px;
    transform: rotate(90deg);
}

.slider__item {
    display: flex !important;
    justify-content: space-around;
    border: 4px solid #ffff !important;
    border-radius: 50px;
    padding: 15px;
    margin: 20px auto;
    width: 90% !important;
}

.slider__photo {
    width: 350px;
    height: 350px;
    border: 4px solid rgb(49, 49, 49);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 40px;
    box-shadow: -13px 9px 16px 9px rgba(34, 60, 80, 0.2);
}

.slider__photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider__info{
    padding: 45px 0 0 0;
}

@media (max-width: 1120px) {
    .slider__photo {width: 120px;height: 120px;margin-right: 5px;}
    .reviews__wrapper {max-width: 600px;margin: 0 auto;}
    .slider__info {padding: 0 0 0 0;}
    .reviews h4 {margin: 20px 0 10px;}
    .reviews__wrapper {padding-left: 55px;}
    .reviews__wrapper {padding-left: 0px;}
    .slider .slick-arrow {left: 45%;}
    .slider .slick-prev {top: -65px;}
    .slider .slick-next {bottom: -65px;}
}

@media (max-width: 640px) {
    .slider__photo {width: 100px;height: 100px;margin-right: 5px;}
    .reviews h4 {font-size: 14px;margin: 10px 0 5px;}
    .slider .slick-prev {top: -45px;}
    .slider .slick-next {bottom: -45px;}
    .slider__item {margin: 5px auto;}

}
/* end block reviews */

/* start block product */
.product {
    background: linear-gradient(62.98deg, #d3d2d2 -25.47%, #FFFFFF 81.18%);
    height: 100%;
}

.product__wrapper {
    display: flex;
    justify-content: space-between;
}
.product__info p {
    text-indent: 20px;
    line-height: 24px;
    margin-bottom: 40px;
}

.product__property {
    margin-top: 40px;
}

.product__property ul {
    display: flex;
    justify-content: space-between;
}

@media (max-width: 1120px) {
    .product__wrapper {flex-direction: column;justify-content: center;align-items: center;}
    .product__photo img {width: 260px;height: 300px;margin: 20px auto 10px;}
    .product__info p {margin-bottom: 10px;}
    .button--product {margin-top: 15px;margin-left: 30%;}
    .product__property {font-size: 22px;padding: 0 60px 0;}
    .product {display: flex;flex-direction: column;justify-content: center;}
    .product__property ul {flex-direction: column;line-height: 32px;}
}

@media (max-width: 640px) {
    .product__photo img {width: 160px;height: 200px;margin: 20px auto 10px;}
    .product__property ul {flex-direction: column;line-height: 24px;}
    .product {display: flex;flex-direction: column;justify-content: center;}
}
/* end block product */

/* start block forma */

.forma {
    background: linear-gradient(62.98deg, #dfdf25 -5.47%, #FFFFFF 81.18%);
    height: 100%;
}

.forma__header {
    font-size: 48px;
    line-height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    letter-spacing: 8px;
}

.forma__header img {
    width: 55px;
    height: 55px;
}

.forma__timer {
    text-align: center;
}

.forma__price {
    text-align: center;
    margin-top: 20px;
}

.forma__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.forma__new-price {
    position: relative;
    font-size: 48px;
    line-height: 24px;
    color: #c22121;
    max-width: 120px;
    margin: 0 auto;
}

.forma__olden-price {
    position: absolute;
    top: -10px;
    left: -40px;
    font-size: 22px;
    line-height: 14px;
    color: #4e4d4d;
    text-decoration: line-through;
}

.horizontal-shake {
    animation: horizontal-shaking 0.35s infinite;
}

@keyframes horizontal-shaking {
    0% { transform: translateX(0) }
    25% { transform: translateX(5px) }
    50% { transform: translateX(-5px) }
    75% { transform: translateX(5px) }
    100% { transform: translateX(0) }
}

.request__input {
    position: relative;
}

.request__input input {
    border-radius: 15px;
    padding: 10px;
}

.request label {
    display: none;
    color: #c22121;
    font-size: 12px;
    line-height: 5px;
    position: absolute;
    top: 8px;
    right: 18px;
    pointer-events: none;
}

.request__input input:focus + label, .request__input input:valid label {
    display: inline;
}

.button--forma {
    margin-top: 40px;
}

@media (max-width: 1120px) {
    .forma__wrapper {flex-direction: column;}
    .forma__product img {width: 160px;height: 220px;}
    .forma {display: flex;flex-direction: column;justify-content: center;}
}

@media (max-width: 640px) {
    .forma__wrapper {flex-direction: column;}
    .forma__product {margin-bottom: 15px;}
    .forma h2 {margin-top: 0 ;margin-bottom: 0;font-size: 26px;}
}

/* end block forma */