@import url("../node_modules/normalize.css/normalize.css");

@font-face {
	font-family: 'Lena';
	src: url(fonts/20647.ttf);
	src: local('Lena'), local('Lena'),
		url(fonts/20647.ttf) format('truetype');
	font-weight: 400;
	font-style: normal;
}

body {
    font-family: 'Lena';
}

.container {
    max-width: 1220px;
    margin: 0 auto;
}

.t-big {
    font-size: 36px;
    line-height: 24px;
}

.t-normal {
    font-size: 18px;
    line-height: 14px;
}

.t-small {
    font-size: 14px;
    line-height: 15px;
}

/* start block Promo */

.full-screen {
    position: relative;
    min-height: 100%;
    display: flex;
    flex-direction: column;
}

.full-screen__video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

h1 {
    font-size: 48px;
    line-height: 45px;
    letter-spacing: 8px;
}

.full-screen__wrapper {
    width: 100%;
    height: 100vh;
    background-color: rgba(0,0,0,0.5);
    z-index: 3;
}

.promo {
    position: relative;
    z-index: 4;
    color: white;
}

.promo__header {
    display: flex;
    justify-content: center;
    align-items: center;
}
.promo__header img {
    width: 55px;
    height: 55px;
}

.promo__block {
    display: flex;
    justify-content: space-around;
    margin-top: 45px;
}

.promo__info {
    margin: auto;
}

.promo__info ul {
    line-height: 55px;
    font-weight: 600;
}

.promo__info li {
    line-height: 35px;
    margin-left: 55px;
    font-weight: 400;
}

.button {
    border: 2px solid rgba(51, 68, 51, 0.925);
    background-color: rgba(112, 116, 112, 0.651);
    border-radius: 30px;
    padding: 18px 20px 10px;
}
.button--promo {
    margin-left: 65px;
}

.button a {
    color: black;
    text-decoration: none;
}

.button:hover {
    background-color: rgb(134, 177, 34);
}


/* end block Promo */


/* start block constituent */
    .constituent {        
        display: flex;
        justify-content: space-between;
        height: 100vh;
        padding: 0 200px;
        background-color:black;
        background-image:
        radial-gradient(white, rgba(255,255,255,.2) 2px, transparent 40px),
        radial-gradient(white, rgba(255,255,255,.15) 1px, transparent 30px),
        radial-gradient(white, rgba(255,255,255,.1) 2px, transparent 40px),
        radial-gradient(rgba(255,255,255,.4), rgba(255,255,255,.1) 2px, transparent 30px);
        background-size: 550px 550px, 350px 350px, 250px 250px, 150px 150px;
        background-position: 0 0, 40px 60px, 130px 270px, 70px 100px;
        color: white;
    }

    .constituent__left {        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .constituent__center {        
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
    }

    .constituent__right {        
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 100%;
    }

    .constituent__product img{
        width: 200px;
        height: 300px;
    }

    .constituent__product {
        margin-bottom: 40px;
    }

    .constituent__ingredient {
        
    }

    .constituent__element {
        width: 150px;
        height: 150px;
        border: 2px solid rgba(26, 27, 26, 0.753);
        border-radius: 50%;
        overflow: hidden;
        background-color: rgba(255, 251, 251, 0.815);
    }

    .constituent__element img{
        width: 150px;
        height: 150px;
        object-fit: cover;
    }




/* end block constituent */

/* start block reviews */

.reviews {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    background:
    radial-gradient(black 15%, transparent 16%) 0 0,
    radial-gradient(black 15%, transparent 16%) 8px 8px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
    radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
    background-color:#282828;
    background-size:16px 16px;
    color: white;
}

.slider {
    position: relative;
}

.slider .slider__item {
    opacity: 0.4;
    transition: 0.2s;
}

.slider .slider__item.slick-center {
    opacity: 1;
}

.slider .slick-arrow {
    position: absolute;
    cursor: pointer;
    font-size: 25px;
    color: #000000;
    background-color: rgba(95, 93, 93, 0.753);
    padding: 3px 10px;
    left: -70px;
    padding-top: 11px;
    border-radius: 10px;
  }
  
.slider .slick-prev {
top: 50px;
transform: rotate(270deg);
}

.slider .slick-next {
bottom: 50px;
transform: rotate(90deg);
}

.slider__item {
    display: flex !important;
    justify-content: space-around;
    border: 4px solid #ffff !important;
    border-radius: 50px;
    padding: 15px;
    margin: 20px auto;
}

.slider__photo {
    width: 350px;
    height: 350px;
    border: 4px solid rgb(49, 49, 49);
    border-radius: 50%;
    overflow: hidden;
    margin-right: 40px;
    box-shadow: -13px 9px 16px 9px rgba(34, 60, 80, 0.2);
}

.slider__photo img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.slider__info{
    padding: 45px 0 0 0;
}




/* end block reviews */